##################################################
# Unity
##################################################

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
ProfilerCaptures/
MemoryCaptures/
UserSettings/

##################################################
# Visual Studio
##################################################

.vs/
.vscode/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

##################################################
# Rider / JetBrains
##################################################

.idea/

##################################################
# OS
##################################################

.DS_Store
Thumbs.db
Desktop.ini

##################################################
# Crash Reports
##################################################

sysinfo.txt

##################################################
# Addressables
##################################################

Assets/AddressableAssetsData/*/*.bin*

##################################################
# Gradle
##################################################

.gradle/

##################################################
# Android
##################################################

*.apk
*.aab

##################################################
# iOS
##################################################

DerivedData/

##################################################
# Generated
##################################################

*.stacktrace
*.log

##################################################
# Rider cache
##################################################

.idea/
*.DotSettings.user

##################################################
# NuGet
##################################################

*.nupkg

##################################################
# Unity Auto Generated
##################################################

Assets/AssetStoreTools*

##################################################
# Ignore Backup
##################################################

Backup*/

##################################################
# Kee p these
##################################################

!Assets/
!Packages/
!ProjectSettings/